@import "../../config.scss";

.container {
    display: flex;
    flex: 1;
    height: 100vh;
    background-color: #eeeeee;
}

.stationDetail__wrapper {
    max-height: 100%;
}

.stationDetail__paper {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.content {
    display: flex;
    flex: 1;
    padding: 5vh;
    background-color: transparent;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: auto;
}

.StationDetail__text-field {
    width: 100%;
    margin-bottom: 20px !important;
}
