$primary-color: #f9813a;
$secondary-color: #3ee7e7;

$xxl-font-size: 100px;
$xl-font-size: 64px;
$l-font-size: 50px;
$m-font-size: 32px;
$s-font-size: 24px;
$xs-font-size: 16px;
$xxs-font-size: 14px;
$xxxs-font-size: 12px;

$xs-screen-width: 320px;
$s-screen-width: 421px;
$m-screen-width: 801px;
$l-screen-width: 1500px;
$xl-screen-width: 2500px;
