@import "../../config.scss";

.BarChart {
    background-color: #eeeeee;
    margin-top: 30px;
}

.BarChart__wrapper {
    margin: 10px auto !important;
    width: 150vh;
}
.BarChart__title {
    text-align: center !important;
    margin-top: 10px !important;
}
