@import "../../config.scss";

.container {
    display: flex;
    flex: 1;
    height: 90vh;
    background-color: #eeeeee;
}

.text {
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.icon {
    color: black;
    size: 100px;
    margin-right: 2vh;
    margin-left: 4vh;
}

.content {
    display: flex;
    flex: 1;
    padding: 5vh;
    background-color: transparent;
    flex-direction: column;
    justify-content: flex-start;
}

.search-view {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.header-table th {
    color: white;
    background-color: $primary-color;
}

.collapse {
    padding: 0px !important;
}

.ListStations__buttons {
    width: 100% !important;
    background-color: #1e90ff !important;
    color: white !important;
    padding: 10px !important;
}

.ListStations__buttons-custom {
    margin-bottom: 2px;
    margin-left: 10px;
}

.ListStations__label {
    padding-top: 15px;
}

.ListStations__header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.ListStations__search-stations {
    width: 265px;
    margin: 2px 3px 2px 0;
    padding: 5px;
}

.ListStations__flag-buttons {
    width: 300px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}