@import "../../config.scss";

.AddStation__wrapper {
    margin: 30px auto !important;
}
.AddStation__title {
    text-align: center !important;
    margin-top: 10px !important;
}

.AddStation__text-field {
    width: 100%;
    margin-bottom: 20px !important;
}

.AddStation__description-field {
    height: 25vh;
}

.AddStation__buttons {
    width: 100% !important;
    background-color: $primary-color !important;
    color: white !important;
    padding: 10px !important;
}

.AddStation__buttons--secondary {
    background-color: $secondary-color !important;
}

.MuiCheckbox-colorPrimary.Mui-checked {
    color: $primary-color !important;
}

.AddStation__cover-wrapper {
    height: 270px;
    width: 480px;
    max-width: 100%;
    border: 1px solid #dddddd;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: $m-font-size;

    p {
        margin: 5px;
    }

    input {
        display: none;
    }

    img {
        width: 480px;
        height: 270px;
        max-width: 100%;
        max-height: 100%;
    }
}

.AddStation__cover-wrapper__loading {
    height: 100px !important;
    width: 100px !important;
}

.AddStation__cover-wrapper:hover {
    background-color: #eeeeee;
}

@media only screen and (max-width: $m-screen-width) {
    .AddStation__cover-wrapper {
        height: 140px;
    }
}

.ql-editor {
    font-size: $xs-font-size !important;
    height: 200px !important;
}
